@CHARSET "UTF-8";
body {
  padding-top: 40px;
  padding-bottom: 40px;
/*   background: url(../../Images/1.png) top center no-repeat;  */
  background-color:#f5f5f5;
  background-size:cover;
  min-height: 720px;
}

.form-signin-heading-h1{
	margin-top:60px;
	margin-bottom: 30px;
  color:#0866c6;
  font-size:50px;
  text-align:center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
 
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color:#ffffff;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
	
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.errorName, .errorPwd, .nullPwd,.nullName,.errorName,.exsitName,.nullSignUpPwd,.nullSignUpPwd2,.nullSignUpName{
	
	color:red;
	font-size:14px;
	height:40px;
	margin-right:10px;
	line-height:42px;
	text-align:right;
	position:absolute;
	right:0;
	top:0;
	z-index:99;
	display:none;
}
.availableName{
	
	color:#4bd63a;
	font-size:14px;
	height:40px;
	margin-right:10px;
	line-height:42px;
	text-align:right;
	position:absolute;
	right:0;
	top:0;
	z-index:99;
	display:none;
}
.form-signin .userName_div{
	 position:relative;
	 -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}