@CHARSET "UTF-8";
.mydiv{
width:auto;height:auto;border:#b2b2b2 1px solid;background:#fff;color:#333;margin:80px 50px 80px 50px;
padding: 30px 50px 30px 50px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}

.myNoData{
	background-color: #EEEEEE;
	margin:200px 50px;
	height:80px;
}